<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Idyllic Software, <%= @user_email %></h1>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>New project have been added to the system</p>
  </body>
</html>