<div ng-controller="membersController">
    <form name="membersCreateForm" ng-submit="processForm(membersCreateForm.$valid)" novalidate>
        <input type="text" name="firstName" ng-model="formData.user.first_name" placeholder="First Name" required>
        <span ng-show="membersCreateForm.firstName.$invalid">Need your First Name</span>
        <br>
        <input type="text" name="lastName" ng-model="formData.user.last_name" placeholder="Last Name" required>
        <span ng-show="membersCreateForm.lastName.$invalid">Need your Last Name</span>
        <br>
        <input type="email" name="emailInput" ng-model="formData.user.email" placeholder="Email" required>
        <span ng-show="membersCreateForm.emailInput.$error.required">Need Some input</span>
        <span ng-show="membersCreateForm.emailInput.$error.email">Need Valid email</span>
        <br>
        <input type="password" name="password" ng-model="formData.user.password" placeholder="Password" required>
        <span ng-show="membersCreateForm.password.$error.required">Need some Input</span>
        <br>
        <input type="password" name="confirmpassword" ng-model="formData.user.password_confirmation" placeholder="Confirm Password" required>
        <span ng-show="membersCreateForm.confirmpassword.$error.required">Need some Input</span>
        <br>
        Admin<input type="radio" ng-model="formData.user.roles" name="roles" value="admin" required>
        User<input type="radio" ng-model="formData.user.roles" name="roles" value="user" required>
        <span ng-show="membersCreateForm.roles.$error.required">Need some Input</span>
        <br>
        <input type="submit" value="Create User" ng-disabled="membersCreateForm.$invalid">
    </form>
</div>